<h2>Listing Feeds</h2>

<table>
<% @feeds.each do |feed| %>
  <tr>
    <td><%=h feed.domain %></td>    
    <td><%= link_to feed.url, feed.url %></td> <!-- how to escape? -->
    <td><%= link_to 'Edit', edit_feed_path(feed) %></td>
    <td><%= link_to 'Delete', feed, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%#= @loops %>
<%= debug @parsed_feeds %>
<% @parsed_feeds = nil %>

<% if @parsed_feeds then %>
  <% @parsed_feeds.each do |parsed_feed| %>
    <% parsed_feed.entries.each do |entry| %>
      <pre><%= entry.published %> <%= entry.url %></pre>
    <% end %>
  <% end %>
<% end %>

<p><%= link_to 'New Feed', new_feed_path %></p>