<h2>Listing Feeds</h2>

<table>
<% @feeds.each do |feed| %>
  <tr>
    <td><%=h feed.domain %></td>    
    <td><%= link_to feed.url, feed.url %></td> <!-- how to escape? -->
    <td><%= link_to 'Edit', edit_feed_path(feed) %></td>
    <td><%= link_to 'Delete', feed, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<% @rss.entries.each do |e| %>
  <p><pre><%=h e.url %></pre></p>
<% end %>

<br />

<%= link_to 'New Feed', new_feed_path %>