<h2>Feeds (<span><%= @feeds.length %></span>)</h2>

<table id="feeds" class="tablesorter">
  <thead>
    <tr>
      <th>Feed</th>
      <th>Alerts</th>
      <th>Parsed</th>
      <th>Last Alert</th>
      <th class="delete"></th>
    </tr>
  </thead>
  <tbody>
    <% @feeds.each do |feed| %>
      <tr>  
        <td><%= link_to truncate(feed.name, {:length => 70}), feed.url, {:target => '_blank'} %></td>
        <td><%= feed.alerts.length %></td>
        <td><%= feed.updated_at.strftime('%b %d, %Y %I:%M %p') %></td>
        <td>
          <% if feed.alerts.length >= 1 %>
            <%= feed.alerts.last.created_at.strftime('%b %d, %Y %I:%M %p') %>
          <% end %>
        </td>
        <td class="delete"><%= link_to image_tag('trash_can.gif'), feed %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to 'New Feed &raquo;', new_feed_path %></p>