<h2>New Feed</h2>

<% form_for(@feed) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :domain %>
    <%= f.text_field :domain %>
  </p>
  <p>
    <%= f.label :url, 'URL' %>
    <%= f.text_field :url, :class => 'url' %>
  </p>  
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to '&laquo; Back to Feeds', feeds_path %>