<h2>Alerts (<span><%= @alerts.length %></span>)</h2>

<table id="alerts" class="tablesorter">
  <thead>
    <tr>
      <th>Domain</th>
      <th class="link">Link Alert</th>
      <th class="mozrank">mozRank</th>
      <th>Parsed</th>
      <th class="delete"></th>
    </tr>
  </thead>
  <tbody>
    <% @alerts.each do |alert| %>
      <tr>
        <td><%= alert.feed.domain %></td>
        <td class="link"><%= link_to alert.title, alert.url, {:target => '_blank'} %></td>
        <td><%= sprintf('%0.02f', alert.metrics['fmrp']) unless alert.metrics.nil? %></td>
        <td><%= alert.created_at.strftime('%b %d, %Y %I:%M %p') %></td>
        <td class="delete"><%= link_to image_tag('trash_can.gif'), alert %></td>
      </tr>
    <% end %>
  </tbody>
</table>