<h2>Alerts</h2>

<table>
  <tr>
    <thead>
      <th>Domain</th>
      <th>Link Alert</th>
      <th>mozRank</th>
      <th>Parsed</th>
      <th class='delete'></th>
    </thead>
  </tr>
  <% @alerts.each do |alert| %>
    <tr>
      <td><%= alert.feed.domain %></td>
      <td><%= link_to alert.title, alert.url, {:target => '_blank'} %></td>
      <td><%= sprintf('%0.02f', alert.metrics['fmrp']) unless alert.metrics.nil? %></td>
      <td><%= alert.created_at.strftime('%m/%d/%y at %H:%M') %></td>
      <td class="delete"><%= link_to 'Delete', alert %></td>
    </tr>
  <% end %>
</table>