!!! Strict
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    %meta(http-equiv="content-type" content="text/html;charset=UTF-8")
    %title Link Alert
    =stylesheet_link_tag 'http://yui.yahooapis.com/combo?3.0.0/build/cssreset/reset-min.css&3.0.0/build/cssfonts/fonts-min.css&3.0.0/build/cssbase/base-min.css'
    =stylesheet_link_tag 'style'
  %body
    #header
      %h1 SEO Link Alerts
      %ul{:class => params[:controller]}
        -if current_user
          %li.feeds= link_to "Feeds", :feeds
          %li.alerts= link_to "Alerts", :alerts
          %li.users= link_to "Account", edit_user_path(:current)
          =link_to "Logout", logout_path, {:class => 'logout'}
        -else
          %li.user_sessions= link_to "Login", login_path
          %li.users= link_to "Register", new_user_path
    #content
      %p{:style => "color:green"}= flash[:notice]
      =yield